/*-----------------------
  GALLERY
  ----------------------*/

  *{
margin:0;
padding:0;
}
html{
height:100%;
}
body{
height:100%;
color:#a4a4a4;
cursor:default;
font-size:11px;
line-height:16px;
text-align:center;
background-color:#000;
background-position:50% 0;
background-repeat:no-repeat;
font-family:Tahoma,sans-serif;
}
a:link,a:visited{
color:#fff;
text-decoration:none;
}
a img{
border:0;
}
div.wrap{
width: 237px;
margin:0 auto;
text-align:left;
}
div#top div#nav{
float:left;
clear:both;
width:993px;
height:52px;
margin:22px 0 0;
background: #fff 0 0 no-repeat;
}
div#top div#nav ul{
float:left;
width:700px;
height:52px;
list-style-type:none;
}
div#nav ul li{
float:left;
height:52px;
}
div#nav ul li a{
border:0;
height:52px;
display:block;
line-height:52px;
text-indent:-9999px;
}
div#header{
/* margin:-1px 0 0; */
width: 600px;
/* margin: 0 auto; */
text-align: center;
margin-left: 200px;
}
div#video-header{
height:683px;
margin:-1px 0 0;
}
div#header div.wrap{
height:299px;
background:url(images/header-bg.png) 50% 0 no-repeat;
}
div#header div#slide-holder{
z-index:40;
width: 600px;
height:299px;
position:absolute;
}
div#header div#slide-holder div#slide-runner{
top:9px;
left:9px;
width: 905px;
height: 380px;
overflow:hidden;
position:absolute;
}
div#header div#slide-holder img{
margin:0;
display:none;
position:absolute;
}
div#header div#slide-holder div#slide-controls{
left:0;
bottom: 322px;
width: 604px;
height:46px;
display:none;
position:absolute;
}
div#header div#slide-holder div#slide-controls p.text{
float:left;
color:#fff;
display:inline;
font-size:10px;
line-height:16px;
margin:15px 0 0 20px;
text-transform:uppercase;
}
div#header div#slide-holder div#slide-controls p#slide-nav{
float:right;
height:24px;
display:inline;
margin:11px 15px 0 0;
}
div#header div#slide-holder div#slide-controls p#slide-nav a{
float:left;
width:24px;
height:24px;
display:inline;
font-size:11px;
margin:0 5px 0 0;
line-height:24px;
font-weight:bold;
text-align:center;
text-decoration:none;
background-position:0 0;
background-repeat:no-repeat;
}
div#header div#slide-holder div#slide-controls p#slide-nav a.on{
background-position:0 -24px;
}
div#header div#slide-holder div#slide-controls p#slide-nav a{background-image:url(images/silde-nav.png);}
div#nav ul li a{background:url(images/nav.png) no-repeat;}


/*-----------------------
  NAVIGATION
  ----------------------*/
#navigation {
  display: block;
  height: 35px;
 
  margin-bottom: 80px;
}

#navigation ul { 
  list-style: none; padding: 0px 7px; 
    

}

#navigation ul li { 
  display: inline; 
  float: left; 
}

#navigation ul li a { 
  display: block; 
  padding: 0 8px; 
  font-size: 18px;
   letter-spacing: 0.0555em;
  text-decoration: none;
  line-height: 35px; 
  font-weight: bold; 
  margin-right: 6px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #2b3f59;
}
#navigation ul li a:hover { 
  color: #AB6E20; 
}

#slide-client, #slide-desc {
  background: rgba(0,0,0,.7);
  padding: 1px;
}


@media only screen and (min-width: 788px) and (max-width: 1057px) {

div#header {
margin: -1px 0 0;
width: 215px;
}

  }


@media only screen and (min-width: 488px) and (max-width: 787px) {

div#header {
margin: -1px 0 0;
width: 215px;
}

div#header div#slide-holder div#slide-runner {
top: 9px;
left: 9px;
width: 452px;
height: 380px;
overflow: hidden;
position: absolute;
}

div#header div#slide-holder div#slide-controls {
left: 0;
bottom: 322px;
width: 467px;
height: 46px;
display: none;
position: absolute;
}

  }

@media only screen and (min-width: 0px) and (max-width: 487px) {

div#header {
margin: -1px 0 0;
width: 215px;
}

div#header div#slide-holder div#slide-runner {
top: 9px;
left: 9px;
width: 452px;
height: 380px;
overflow: hidden;
position: absolute;
}

div#header div#slide-holder div#slide-controls {
left: 0;
bottom: 322px;
width: 467px;
height: 46px;
display: none;
position: absolute;
}


}