/*-------------------------------------------
BASE CSS
---------------------------------------------*/



h1, h2, h3 {
	font-family: "Oswald" Helvetica;
	text-transform: uppercase;
}




h3 {
	font-size: 22px;
	letter-spacing: .0454em;
}




h1 {
	height: 0;
}


p, ol {
	font-family: "Open Sans" Sans-Serif Georgia;
}



ul {
	padding-left: 0;
	}


a:hover {
	cursor: pointer;
}



li {
	list-style-type: none;
}

ol {
	padding-left: 0;
	color: #85004b;
	font-size: 16px;
	letter-spacing: .0625em;
}

ol li {
	list-style-type: square;
}

ol li span {
	color: #484848;
}


p {
	font-size: 20px;
	letter-spacing: .05em;
	line-height: 1.5;
	color: #484848;
	
}

.clear {
      clear: both;
    }


/*--------------------------------------------
  HEADINGS
----------------------------------------------*/

.page-heading {
	/* width: 50%; */
	margin: auto;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 9px;
	/* border-bottom: 1px solid #dfdfdf; */
}

.heading-container p {
	padding-bottom: 60px;
	/* text-align: center; */
	padding-top: 40px;
}

.heading-title {
	padding-top: 100px;
}

.page-heading h1 {
	margin: 20px 0 0px 0;
	font-size: 56px;
	padding-bottom: 90px;
	vertical-align: middle;
	text-align: center;
	font-family: "Oswald";
	text-transform: uppercase;
	letter-spacing: 0.0178em;
	color: #171717;
}

.page-heading h2 {
	margin: 4px 0 0px 0;
	font-size: 40px;
	/* padding-bottom: 20px; */
	/* padding-top: 20px; */
	vertical-align: middle;
	text-align: center;
	font-family: "Oswald";
	letter-spacing: .025em;
	text-transform: uppercase;
}

.page-heading h3 {
	margin: 20px 0 0px 0;
	font-size: 28px;
	/* padding-bottom: 20px; */
	/* padding-top: 20px; */
	vertical-align: middle;
	text-align: center;
	font-family: "Oswald";
	letter-spacing: .0312em;
	text-transform: uppercase;
}


.tidy-town-heading h3 {
	margin-bottom: 40px;
	color: #85004b;
	border-bottom: none;
}

.heading-title h1 {
	border-bottom: 1px solid #dfdfdf;
}


.section-headings h2, .history-header h2 {
	text-align: center;
	margin-top: 30px;
	font-size: 41px;
	letter-spacing: .0363em;
	
	font-kerning: normal;
	color: #000;
}

/*--------------------------------------
FOOTER
---------------------------------------*/

footer {
	background: #111;
	border-top: 5px solid #727272;
}

.footer-list {
	float: left;
}

.footer-list img {
	padding-top: 35px;
}


.footer-list ul {
	padding: 0px 0 30px 15px;
}

.footer-list li a {
	font-size: 14px;
	text-decoration: none;
	color: #6d6d6d;
	font-family: "Open Sans";
}


.footer-list a:hover {
	color: #e4ea0f;
}

.copyright {
	color: #727272;
	float: right;
	padding-top: 191px;
	font-size: 12px;
	letter-spacing: .06333em;
}


/*--------------------------------------
NAVIGATION
---------------------------------------*/

.navbar {
	margin-bottom: 0;
	position: absolute;
	background: transparent;
	border-color: transparent;
	text-transform: uppercase;
	font-family: "Oswald";
	letter-spacing: .0714em;
}

.navbar-toggle {
	background-color: transparent;
	float: none;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #e4ea0f;
}

.navbar-default .navbar-toggle {
	background: #000;
}


.navbar-default .navbar-toggle:hover {
	background: #000;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: transparent;
}




/*--------------------------------------
LAYOUT
---------------------------------------*/

.container {
	width: 66%;
	margin: auto;
}

.history-container {
	width: 70%;
}

.container-about {
	width: 50%;
}




.contact-container {
	width: 60%;
	/* text-align: center; */
}

.projects-container {
	margin-bottom: 80px;
}

.history-container {
	width: 793px;
	margin-bottom: 140px;
}

.timeline-container {
  width: 80%;
  padding-top: 100px;
}

.container-about {
  width: 50%;
  margin-bottom: 100px;
}

.timeline-container {
  width: 80%;
  padding-top: 100px;
}





/*--------------------------------------
HERO UNIT/ABOUT PAGE
---------------------------------------*/
.hero-unit {
	width: 100%;
	/* padding-bottom: 20px; */
}



.hero-content {
	width: 100%;
	font-size: 0;
	line-height: 0;
	vertical-align: middle;
	background-size: 100%;
	background-position: 50% 88%;
	background-repeat: no-repeat;
	background-image: url(../images/macnamees.jpg); 
}


.heading {
	background: url('../images/church-logo.png') no-repeat;
	width: 100%;
	font-size: 0;
	line-height: 0;
	vertical-align: middle;
	background-size: 50%;
	background-position: 53% 40%;
	background-repeat: no-repeat; 
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
}


.content-inner, .heading-inner {
	display: block;
	height: 0;
}

.heading-inner {
	padding-top: 38.6%;
	padding-bottom: 7.5%;
}


.more-info:hover {
	cursor: pointer;
}



.about-heading {
	width: 50%;
	padding-top: 70px;
}

.about-heading img {
	margin-bottom: 0;
}


.container-about p {
	text-align: justify;
}

.container-about img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;
	max-width: 100%;
}

.about-section a {
	text-decoration: none;
	font-weight: bold;
	color: #85004b;
}


/*--------------------------------------------
  HISTORY SECTION 
----------------------------------------------*/


#history-tile p {
	display: block;
	width: 380px;
	height: 200px;
	background-image: url(../images/history-sprite.jpg);
	color: #fff;
	text-decoration: none;
	position: relative;
	margin-bottom: 0;	
	margin-top: 1px;
}

#history-tile:hover {
	cursor: pointer;
}


#history-tile a {
	color: #fff;
	opacity: 0;
	position: absolute;
	top: 60%;
	left: 27%;
	
}

#history-tile a:hover {
	text-decoration: none;
}


#history-tile .gaa p {
	background-position:  0px 0px; 
	display: block; 
}

#history-tile .gaa p:hover {
	background-position:  0px -200px;
	display: block; 
}

#history-tile .stephenstown-house p {
	background-position:  -380px 0px; 
	display: block; 
}

#history-tile .stephenstown-house p:hover {
	background-position:  -380px -200px;
	display: block; 
}

#history-tile .cuch-stone p {
	background-position:  -760px 0px; 
	display: block; 
}

#history-tile .cuch-stone p:hover {
	background-position:  -760px -200px;
	display: block; 
}

#history-tile .marys-church p {
	background-position:  380px 0px; 
	display: block; 
}

#history-tile .marys-church p:hover {
	background-position:  380px -200px;
	display: block; 
}

.hist-second {
	margin-top: 2px;
}

#break-history {
	margin-top: 1px;
}


.modal-body img {
	float: right;
	padding: 0 0 10px 20px;
	max-width: 100%;
}


.modal-body p {
	font-size: 14px;
	letter-spacing: 0.0714em;
	text-align: justify;
}


.gaa-section {
	width: 50%;
	float: left;
	text-align: center;
}

.history-heading {
	padding-top: 30px;
	padding-bottom: 0px;
}


/*--------------------------------------------
  PROJECTS SECTION 
----------------------------------------------*/


  .timeline {
	position: absolute;
	top: 3em;
	left: 50%;
	width: 8px;
	margin-left: -4px;
	height: 100%;
	z-index: 10;
	background: rgba(194,87,148,0.1);
}

.project-timeline-container {
	width: 960px;
}


.content-area {
	padding-top: 40px;
	padding-bottom: 40px;
}


.event-left {
	border-top: 1px solid rgba(135,0,75,.3);
	margin-right: 1rem;
	margin-bottom: 3rem;
	width: 50%;
	position: relative;
	padding-right: 8%;
}

.event-left:before {
	position: absolute;
	top: -5px;
	left: 99.18%;
	content: " ";
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 1px solid #85004b;
	background: #85004b;
}

.event-right:before {
	position: absolute;
	top: -5px;
	left: -4px;
	content: " ";
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 1px solid #85004b;
	background: #85004b;

}


.event-right {
	border-top: 1px solid rgba(135,0,75,.3);
	left: 50%;
	text-align: right;
	width: 50%;
	position: relative;
	padding-left: 8%;
}


.beyond2014 {
	vertical-align: middle;
}

.beyond2014 img {
	opacity: .1;
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
}


.beyond-2014-container {
	width: 350px;
	margin: auto;
	padding-bottom: 80px;
}

.beyond-2014-container h3 {
	text-align: center;
}

.details {
	padding-right: 20px;
	width: 100%;
}

.details p {
	/* width: 19%; */
	font-size: 14px;
	text-align: justify;
	letter-spacing: .0714em;
	max-width: 100%;
}

.details img {
	max-width: 100%;
}


.project-timeline {
	position: relative;
overflow: hidden;
}


.event-right p {
	max-width: 100%;
}

/*--------------------------------------------
  AWARDS
----------------------------------------------*/

.award-paragraph {
	padding: 80px 0 80px 0;
}

.awards-midsection {
	background-color: #00d665;
}

.awards-midsection li {
	color: #005e2c;
}

.stars-midsection {
	text-align: center;
	padding: 15px 0 15px 0;
	width: 100%;
}

.award-wins {
	width: 50%;
	padding-right: 10%;
	padding-left: 10%;
	float: left;
}

.award-paragraph a {
	text-decoration: none;
	font-weight: bold;
	color: #85004b;
}

.win-grid img {
	margin: auto;
	display: block;
}

.environmental-wins {
	width: 50%;
	padding-left: 10%;
	float: left;
	/* margin-top: 30px; */
	padding-right: 10%;
}


.win-grid {
	padding: 80px 0 80px 0;
	margin: auto;
}

.win-grid h2 {
	text-align: center;
	font-size: 26px;
	letter-spacing: 0.0384em;
	color: #000;
}

.win-grid li {
	padding-bottom: 10px;
}

.award-container {
	width: 100%;
	text-align: center;
}


/*--------------------------------------------
  CONTACT DETAILS
----------------------------------------------*/


#contact-body {
	background-image: url(../images/sign-post.jpg);
	background-repeat: no-repeat;
	height: 100%;
	
}

 .contact-text p {
	font-size: 14px;
	letter-spacing: .0714;
}

.contact-digits {
	margin-bottom: 20px;
	text-align: right;
}

.contact-digits p {
	font-size: 14px;	
	font-family: "Oswald";
}

.marian {
	color: #85004b;
	font-weight: bold;
	font-family: "Oswald";
	text-transform: uppercase;
}



.contact-heading {
	float: right;
}

.contact-text {
	float: right;
	padding-top: 20px;
}

.contact-heading h1 {
	float: right;
	margin-right: 0;
	margin-top: 80px;
	text-transform: uppercase;
	margin-bottom: 40px;
	font-size: 34px;
	letter-spacing: 0.0294em;
}


iframe {
	float: right;
	 -moz-box-shadow:    1px 1px 1px #000;
  -webkit-box-shadow: 1px 1px 1px #000;
  box-shadow:      1px 1px 1px #000;   
}

small a {
	float: right;
	text-decoration: none;
	font-weight: bold;
color: #85004b;
font-size: 16px;
padding-bottom: 20px;
font-family: "Oswald";
	text-transform: uppercase;
	letter-spacing: .0625em;
}




/*----------------------------------------------------------------------------------------------------------
  MEDIA QUERIES 
--------------------------------------------------------------------------------------------------------------*/

/*---- MOBILE ----------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 0px) and (max-width: 487px) {


/*-------------------------------------------
BASE CSS
---------------------------------------------*/

ul {
	margin: 0 0 0 0;
	padding-top: 0px;
	padding-left: 0;
	display: inline;
}

nav {
	display: inline;
}

p {
	font-size: 14px;
	letter-spacing: .0714em;
	line-height: 1.5;
}

   .container-about {
 	width: 75%;
 }

 ol {
	padding-left: 0;
	font-family: "Open Sans";
	color: #85004b;
	font-size: 14px;
	letter-spacing: .0714em;
}

h3 {
font-size: 16px;
letter-spacing: .0625em;
}

/*-------------------------------------------
FOOTER
---------------------------------------------*/

.footer-list li a {
	font-size: 11px;

}

.footer-list li {
	margin-bottom: -2px;
}

footer .container {
	width: 95%;
}

.copyright, .footer-list {
	float: none;
}

.copyright {
	padding-top: 5px;
	font-size: 8px;
}


/*-------------------------------------------
NAVBAR
---------------------------------------------*/

.navbar {
	margin-bottom: 0;
	position: absolute;
	background: transparent;
	border-color: transparent;
	text-transform: uppercase;
	font-family: "Oswald";
	letter-spacing: .0714em;
}



.navbar-default .navbar-toggle {
	border-color: none;
}

.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 7px 6px;
	margin-top: 3px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}


.nav>li>a {
	position: relative;
	display: block;
	padding: 7px 0px;
}

.navbar-nav>li>a {
	padding-top: 2px;
	padding-bottom: 10px;
	line-height: 20px;
}

.navbar-default .navbar-toggle {
	border-color: none;
	margin-right: 57px;
}

.navbar-default .navbar-nav>li>a {
	color: #e4ea0f;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: transparent;
	background: #000;
}

.navbar-nav {
	margin: 0.5px 0px;
}

.navbar-default .page-toggle, .navbar-default .page-toggle:hover  {
	background: #fff;
}



.navbar-default .navbar-toggle .page-icon {
	background: #85004b;
}

.navbar-default .navbar-nav li .page-link {
	color: #85004b;
}

.navbar-default .page-collapse {
	background: #fff;
}



/*-------------------------------------------
HERO UNIT/ABOUT
---------------------------------------------*/



.hero-content {
	width: 100%;
	font-size: 0;
	line-height: 0;
	vertical-align: middle;
	background-size: 100%;
	background-position: 50% 88%;
	background-repeat: no-repeat;
	background-image: url(../images/macnameees-mobile.jpg); 
}

.heading-inner {
	padding-top: 60.6%;
	padding-bottom: 9.5%;
}

/*-------------------------------------------
LAYOUT
---------------------------------------------*/


.background-container {
  padding: 20px;
  background-image: none;
}


.history-container {
	width: 268px;
	margin-bottom: 80px;
}

.contact-container {
	width: 100%;
	text-align: left;
}

.project-timeline-container {
	width: 99%;
	padding-left: 7px;
}

.projects-container {
	margin-bottom: 0px;
	width: 90%;
}

.heading-container {
	width: 95%;
	text-align: justify;
}

.beyond-2014-container {
	width: 90%;
	margin-left: 21px;
	padding-bottom: 60px;
}

/*-------------------------------------------
HEADINGS
---------------------------------------------*/



.section-headings h2 {
	text-align: center;
	margin-top: 30px;
	font-size: 18px;
	letter-spacing: 0.055em;
}

.section-headings h3 {
	font-size: 18px;
    letter-spacing: 0.055em;
}



#history-heading {
	width: 100%;
}

.contact-heading {
	float: none;
}

.contact-heading h1 {
	float: none;
	margin-right: 0;
	margin-top: 80px;
	text-transform: uppercase;
	margin-bottom: 40px;
	font-size: 19px;
	letter-spacing: 0.0294em;
	margin-left: 0;
}

.page-heading h1 {
	font-size: 24px;
	letter-spacing: .0416em;
	padding-bottom: 45px;
}

.beyond-2014-container h3 {
	text-align: left;
}


/*-------------------------------------------
HISTORY
---------------------------------------------*/



#history-tile p {
	display: block;
	width: 230px;
	height: 120px;
	background-image: url(../images/history-sprite-mobile.jpg);
	color: #fff;
	text-decoration: none;
	position: relative;
	margin-bottom: 0;	
}

#history-tile:hover {
	cursor: pointer;
}

.gaa-section {
	width: 50%;
	float: none;
	text-align: center;
	margin-bottom: 2px;
}



#history-tile a {
	color: #fff;
	opacity: 0;
	position: absolute;
	top: 60%;
	left: 27%;
}

#history-tile a:hover {
	text-decoration: none;
}


#history-tile .gaa p {
	background-position:  0px 0px; 
	display: block; 
}

#history-tile .gaa p:hover {
	background-position:  0px -120px;
	display: block; 
}

#history-tile .stephenstown-house p {
	background-position:  -230px 0px; 
	display: block; 
}

#history-tile .stephenstown-house p:hover {
	background-position:  -230px -120px;
	display: block; 
}

#history-tile .cuch-stone p {
	background-position:  -460px 0px; 
	display: block; 
}

#history-tile .cuch-stone p:hover {
	background-position:  -460px -120px;
	display: block; 
}

#history-tile .marys-church p {
	background-position:  230px 0px; 
	display: block; 
}

#history-tile .marys-church p:hover {
	background-position:  230px -120px;
	display: block; 
}


.modal-body img {
	float: right;
	padding: 0 0 10px 0px;
	max-width: 100%;
}

.modal-body p, #history-tile p  {
	text-align: justify;
	font-size: 12px;
	letter-spacing: .0833em;
}


/*-------------------------------------------
AWARDS
---------------------------------------------*/


.award-wins, .environmental-wins {
	float: none;
	width: 100%;
}


.environmental-wins {
	padding-left: 0;
	margin-top: 30px;
	padding-right: 0%;
}

.award-wins {
	margin-bottom: 20px;
	margin: auto;
	
}

.awards-midsection li {
	color: #005e2c;
	text-align: center;
	font-size: 14px;
	letter-spacing: .0714em;
}

.award-paragraph {
	padding: 40px 15px 40px 15px;
}

.awards-heading p {
	padding-top: 0;
	text-align: justify;
}


/*-------------------------------------------
CONTACT
---------------------------------------------*/

#contact-body {
	background-image: url(../images/sign-post-cell.jpg);
	background-position: 50% 29%;
}


iframe {
	display: none;
}



.contact-text {
	float: none;
}



small a {
	float: none;
}


.contact-digits, .contact-text, small a {
	text-align: left;
}

.contact-digits p {
	font-size: 14px;
	font-weight: bold;
}


/*-------------------------------------------
PROJECTS
---------------------------------------------*/



 .timeline {
	position: absolute;
	top: 3em;
	left: 5px;
	width: 8px;
	margin-left: -4px;
	height: 100%;
	z-index: 10;
	background: rgba(194,87,148,0.1);
}

.event-left, .event-right {
	position: relative;
	border-top: 1px solid rgba(122,122,122,0.4);
	margin-right: 5%;
	margin-bottom: 3rem;
}

.event-left {
	width: 100%;
}

.event-right {
	width: 50%;
}

.event-right {
	border-top: 1px solid rgba(122,122,122,0.4);
	left: -3px;
	text-align: left;
	padding-left: 15px;
	width: 100%;
	position: relative;
}


.event-right:before {
	left: -5px;
}



.beyond2014 img {
	display: none;
}

.beyond2014 {
	text-align: left;

}



.event-left:before {
	left: -8px;
}

.details {
	padding-left: 10px;
}

.event-right .details {
	padding-left: 0;
}

.heading-container p {
	padding-bottom: 30px;
	text-align: justify;
	padding-top: 0px;
}

.projects-container p {
	text-align: justify;
}


}

/*---- TABLET ----------------------------------------------------------------------------------------------------------------------*/


@media only screen and (min-width: 488px) and (max-width: 767px) {

/*-------------------------------------------
BASE CSS
---------------------------------------------*/

p {
	font-size: 16px;
	letter-spacing: .0625em;
	line-height: 1.5;
	color: #484848;
}

button:active {
	background: #000;
}
   
/*-------------------------------------------
FOOTER
---------------------------------------------*/

.footer-list li a {
	font-size: 14px;
}

/*-------------------------------------------
NAVBAR
---------------------------------------------*/

.navbar {
	margin-bottom: 0;
	position: absolute;
	background: transparent;
	border-color: transparent;
	text-transform: uppercase;
	font-family: "Oswald";
	letter-spacing: .0714em;
}

.navbar-toggle {
	background-color: transparent;
}

.navbar-default .navbar-toggle {
	border-color: none;
	background: #000;
}

.navbar-default .page-toggle, .navbar-default .page-toggle:hover  {
	background: #fff;
}




.navbar-default .navbar-toggle .page-icon {
	background: #85004b;
}

.navbar-default .navbar-toggle .page-icon {
	background: #85004b;
}

.navbar-default .navbar-nav li .page-link {
	color: #85004b;
}


.navbar-default .navbar-nav>li>a {
	color: #e4ea0f;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: transparent;
	background: #000;
}

.navbar-default .navbar-collapse:active, .navbar-default .navbar-form:active {
	border-color: transparent;
	background: #000;
}

.navbar-default .page-collapse {
	background: #fff;
}


/*-------------------------------------------
LAYOUT
---------------------------------------------*/



 .container-about {
 	width: 60%;
 }

 .projects-container {
	margin-bottom: 0px;
	width: 90%;
}

.history-container {
	width: 420px;
	margin-bottom: 80px;
}

.project-timeline-container {
	width: 99%;
}

.beyond-2014-container {
	width: 100%;
	margin-left: 41px;
	padding-bottom: 60px;
}


/*-------------------------------------------
HEADINGS
---------------------------------------------*/

#history-heading {
	width: 100%;
}


.about-heading {
	width: 50%;
	padding-top: 70px;
}

.page-heading {
	padding-bottom: 10px;
}



.about-heading h2 {
	margin-top: 15px;
	font-size: 28px;
	letter-spacing: 0.0357em;
}

.contact-heading h1 {
	float: none;
	margin-right: 0;
	margin-top: 80px;
	text-transform: uppercase;
	margin-bottom: 40px;
	font-size: 34px;
	letter-spacing: 0.0294em;
	margin-left: 0;
}

.beyond-2014-container h3 {
	text-align: left;
}


/*-------------------------------------------
HISTORY
---------------------------------------------*/

.gaa-section {
	width: 50%;
	float: none;
	text-align: center;
	margin-bottom: 2px;
}

/*-------------------------------------------
PROJECTS
---------------------------------------------*/

.timeline {
	position: absolute;
	top: 3em;
	left: 14px;
	width: 8px;
	margin-left: -4px;
	height: 378%;
	z-index: 10;
	background: rgba(194,87,148,0.1);
}

.event-left, .event-right {
	position: relative;
	border-top: 1px solid rgba(122,122,122,0.4);
	margin-right: 5%;
	margin-bottom: 3rem;
}

.event-left {
	width: 100%;
}

.event-right {
	width: 50%;
}

.event-right:before {
	left: -5px;
}

.event-right {
	border-top: 1px solid rgba(122,122,122,0.4);
	left: -3px;
	text-align: left;
	padding-left: 15px;
	width: 100%;
	position: relative;
}


.event-left:before {
	left: -8px;
}

.details {
	padding-left: 10px;
}

.event-right .details {
	padding-left: 0;
}

.beyond2014 img {
	display: none;
}

.beyond2014 {
	text-align: left;
}




/*-------------------------------------------
AWARDS
---------------------------------------------*/


.environmental-wins, .award-wins {
	padding-left: 2%;
	padding-right: 2%;
}

/*-------------------------------------------
CONTACT
---------------------------------------------*/


#contact-body {
	background-image: none;
}

.contact-heading {
	float: none;
}



.contact-text {
	float: none;
}

.contact-digits {
	text-align: left;
}

iframe {
	float: none;
	width: 340px;
}

small a {
	float: none;

}


}



@media only screen and (min-width: 768px) and (max-width: 899px) {


.background-container {
  padding: 20px;
}



#contact-body {
 background-image: none;
}

}








@media only screen and (min-width: 900px) and (max-width: 1150px) {



.background-container {
  padding: 20px;
}

#projects-body h2 {
  font-size: 30px;
}


#contact-body {
  background-image: url(../images/sign-post-mobile.jpg);
}

.contact-container {
  width: 85%;
}



}





@media only screen and (min-width: 769px) and (max-width: 1044px) {

.project-timeline-container {
	max-width: 988px;
	width: 725px;
}


}

